@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    color: #333333;
    font-family: arial;
    /* font-family: 'Open Sans', sans-serif; */
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

footer{
    color: #888888;
    border-top: 2px solid #eeeeee;
    padding: 16px 0;
    margin-top: 16px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

.main-content{
    flex-grow: 1;
}

form {
    padding-bottom: 50px;
}

/* start of search bar css */
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #888888;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #888888;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #888888; /*#00B4CC;*/
    background: #888888;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }